.footer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    scroll-snap-align: center;
    height: 15rem;
    width: 100%;
    color: var(--whiteish);
    background-color: var(--darklight);
}
.logoFooter{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
.linkLogoFooter>img{
    width: 25rem;
}
.infoFooter{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
.nav-linksFooter{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
}
.buttonsFooter{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.linkFooter{
    text-align: center;
    width: 100%;
    height: 100%;
    color: var(--yellow);
    text-decoration: none;
}
.linkFooter:hover{
    color:var(--whiteish);
}
.linkFooter>a{
    margin: 1rem;
}
.linkFooter>h1{
    margin: 1rem;
}
.pageBtnFooter{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.followFooter{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
.separator{
    height: 80%;
    width: 3px;
    background-color: var(--whiteish);
}
.textFooter{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}
.textFooter>h1{
    margin: 0rem;
}
.textFooter>p{
    margin-bottom: 0rem;
    margin-top: 0.3rem;
}
.follow{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.follow>a{
margin-left: 1rem;
margin-right: 1rem;
color: white;
}
.follow>a:hover{
    color: var(--yellow);
    cursor: pointer;
}